---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>💍 Hello Wedding Guests!</h1>
			<p>
				Welcome to our wedding website! We are so excited to celebrate our special day with you.
			</p>
			<p>
				We have created this website to provide you with all the information you need to know about our wedding day.
			</p>
			<p>Here are a few things you can find on this website:</p>
			<ul>
				<li>Details about the wedding ceremony and reception</li>
				<li>Information about the wedding party</li>
				<li>Accommodation options for out-of-town guests</li>
				<li>RSVP form to confirm your attendance</li>
			</ul>
			<p>
				We hope you enjoy exploring our wedding website! If you have any questions or need further information, please feel free to contact us.
			</p>
			<p>
				Looking forward to celebrating with you on our special day!
			</p>
		</main>
		<Footer />
	</body>
</html>
